<div class="max-w-7xl mx-auto px-4 sm"><px-6 class="lg"><px-8>
      <h1 class="text-5xl leading-6 font-medium text-gray-900">
        XWordle
      </h1>
      <div class="max-w-3xl mx-auto" data-action="keyup@document-&gt;main#key" data-controller="main" data-main-answer-value="<%= @word %>">
        <div data-controller="guess" data-main-target="guess">
          <div class="mt-5 grid grid-cols-1 gap-5 sm"><grid-cols-5>
              <% 5.times do |i|
 %>
              <div data-controller="square" data-guess-target="square" data-square-index-value="<%= i %>">
                <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm"><p-6 data-square-target="bg">
                    <div class="mt-1 text-5xl font-semibold text-gray-900 w-14 min-w-full h-12 place-content-center text-center" data-square-target="text">
                    </div>
                  </p-6></div>
              </div>
            <% end %></grid-cols-5></div>
      </div>
    </div>
  </px-8></px-6></div>